In [10]:
import sacrebleu
import pandas as pd

In [11]:
ref_file = open("data/amnlp21.cni", "r")
pred_file = open("data/amnlp21.es-cni.cni.pred", "r")

sentences = list(zip(ref_file, pred_file))
df = pd.DataFrame(sentences, columns=["ref", "pred"])

df["chrF"] = df.apply(lambda row: sacrebleu.corpus_chrf([row["pred"]], [[row["ref"]]]).score, axis=1)
df.sort_values(by=["chrF"], inplace=True)

In [12]:
df.head()

,ref,pred,chrF
587,Ari ora DOT aajiro ashiyetari aabajeitanaja or...,IRIROPEROTE ITSONKAKOBENT ITSONKAROPEROTE ITSO...,0.005944
289,Tee otimimojeiteni television.\n,Tekatsi TV.\n,0.055232
880,Kaari oni añapinire.\n,Te okameetsateji.\n,0.056818
233,Iroobetanchame nojokanajero.\n,Ari otsonkapakari.\n,0.080278
678,"Yapanirotanteari ashi amitakotantsi, ashi añaa...",Kapichatiri iroakerari irirori.\n,0.092937

In [13]:
df["chrF"].describe()

count    1003.000000
mean        0.306140
std         0.115689
min         0.005944
25%         0.222335
50%         0.292942
75%         0.370332
max         0.810354
Name: chrF, dtype: float64

In [14]:
q2 = df["chrF"].quantile(0.5)
df.loc[df["chrF"] >= q2]

,ref,pred,chrF
783,Piyoti... maaroniki ariroika ante atsitantsi i...,Piyotero... astawanqa pantanontya obatsapaye a...,0.292942
410,Oñaanatati ara iPhoneki.\n,Iroñaaka piñaavaitzi aparo iPhone.\n,0.294144
803,Timatsi noshinto orijaniki meeka aisati opomer...,Otimimotana aparo irijaniki iroñaaka jero kaar...,0.294477
261,Tee nokematsatero ora areeteari.\n,Tee nokenkeshireajero oka.\n,0.294535
782,"Aritake pantakero mashitantsi, otimatiye pashi...","Aririka namashitakero, itsanterotaerori.\n",0.294592
...,...,...,...
419,Noaiki Missouri.\n,Isaitaki Missouri.\n,0.686012
283,Yora atiri iyotini kaari ini kitamarori.\n,Yora atiri iyotake kaari kitamarori.\n,0.693877
711,"Kameetsa, irotake oka kameetsari tee nokenkesh...","Kameetsa, irotaki kameetsa iroori tee nokenkes...",0.695833
293,Tee katsini noñaanateroni Ramona.\n,Tee katsini noñaanajeite Ramona.\n,0.713399
881,Okemetaro maaroniki kitaiteri.\n,Okempetaro maaroni kitaiteri.\n,0.810354

In [15]:
with open("ash.ref.txt", "w") as f:
    f.write(df["ref"].str.cat())
    
with open("ash.pred.txt", "w") as f:
    f.write(df["pred"].str.cat())