In [1]:
#!jt -t onedork -T -N -kl -ofs 95

In [2]:
import sacrebleu
import pandas as pd

In [3]:
ref_file = open("data/amnlp21.shp", "r")
pred_file = open("data/amnlp21.es-shp.shp.pred", "r")

sentences = list(zip(ref_file, pred_file))
df = pd.DataFrame(sentences, columns=["ref", "pred"])

df["chrF"] = df.apply(lambda row: sacrebleu.corpus_chrf([row["pred"]], [[row["ref"]]]).score, axis=1)
df.sort_values(by=["chrF"], inplace=True)

In [4]:
df.head()

,ref,pred,chrF
299,Westiora joniresra mawake accidentenko nato ja...,Ischónra jóni mahuáque.\n,0.062685
45,Ja xontako ea akinti keni iitaira kikin ochoir...,Oa báque oxnánra áni jáque.\n,0.065993
177,Yoirake jaweti iki tsasikana ja baiyain.\n,Ja báironqui báiaque.\n,0.068475
285,Ja bakeranonra neno itinke.\n,Báquera jáque.\n,0.070688
833,Westiora jonira liberankana ike nato cargamea ...,Jonínra jahuen ahuínhaxon yatánxon yatáncanque.\n,0.076774

In [5]:
df["chrF"].describe()

count    1003.000000
mean        0.339153
std         0.159569
min         0.062685
25%         0.216200
50%         0.324916
75%         0.431150
max         1.000000
Name: chrF, dtype: float64

In [6]:
q2 = df["chrF"].quantile(0.5)
df.loc[df["chrF"] >= q2]

,ref,pred,chrF
29,U2 batanra en tratana iki.\n,U2 betanra en ike.\n,0.324916
468,Itan jara tuberculosiya ikatiai itan enra jawe...,"Jara tuberculosisya iki, enribira nato jawekib...",0.325424
778,Nato joniboanra consideranti jake jaton basura...,Joniboanra kenai jaweti icha itan jawe kopi ba...,0.325975
443,Janra yoiyosma iki razónya sobre nato pastel d...,Janra yoiyama iki jain pastelin ika.\n,0.326185
92,"Ikaxbi jaskara ikenbi, ja yoinabora jatibitian...","Ikaxbiribira mesko yoinabo jenetima iki, astaw...",0.326808
...,...,...,...
410,Wetiora iPhonenin yoyo iki riki.\n,Westiora iPhonenin yoyo iki riki.\n,0.931965
942,Eara rateyamake.\n,Eara rateyamake.\n,1.000000
873,Enra ninkati atipanyamake.\n,Enra ninkati atipanyamake.\n,1.000000
470,Enra onanyama ike tuberculosisya.\n,Enra onanyama ike tuberculosisya.\n,1.000000
760,¿Jaweti bakeyarin mia?\n,¿Jaweti bakeyarin mia?\n,1.000000

In [7]:
with open("shi.ref.txt", "w") as f:
    f.write(df["ref"].str.cat())
    
with open("shi.pred.txt", "w") as f:
    f.write(df["pred"].str.cat())